[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cutoff"]
	path = cutoff
	url = https://github.com/yikeshu0611/cutoff
[submodule "do"]
	path = do
	url = https://github.com/yikeshu0611/do
[submodule "nomogramFormula"]
	path = nomogramFormula
	url = https://github.com/yikeshu0611/nomogramformula
[submodule "set"]
	path = set
	url = https://github.com/yikeshu0611/set
